<div class="hero-unit">
  <h2 class="title"><%= todoApp.title %></h2>
  <%- linkTo('Edit this todoApp', editTodoAppPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', todoAppPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>TodoApp Properties</h2>
<% for(var i in todoApp) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= todoApp[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>